*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}

.navbar{
    position: relative;
    background-color:#000101 ;
    overflow: hidden;
}
.active{
    background-color: #0f4c75;
}
.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover{
    background-color: #0f4c75;
    font-size: 19px;
    padding:12.5px 14px;
}
.horizontal{
    list-style-type: none;
}
.navlinks {
    color:#bbe1fa;
    text-decoration: none;
}
/*-----------------------------------------------NAV BAR PART ABOVE-----------------------------------------------*/

/*-----------------------------------------------HOME-------------------------------------------------------------*/
.hero-image{
    height: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/RPnXl6Rpvk0");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    position: relative;
    top:40%;
    text-align: center;
    color:#f2f2f2;
    text-shadow: 0 0 2px white, 0 0 1px #110543;
    padding-bottom: 5vh;
}
.hero-text h1{
    font-size:65px;
}
.hero-text p{
    font-size:40px;
}
/*-----------------------------------------------HOME-----------------------------------------------------------------*/

/*-----------------------------------------------ABOUT ME-------------------------------------------------------------*/
.container{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.text-part{
    width:100%;
    position: relative;
    color:#f2f2f2;
    background-color: #000101;
}
.image-part{

    width: 100%;
    position: relative;
}
.text{
    font-size: 27px;
    text-shadow: 0 0 2px white, 0 0 1px #110543;
    width: 75%;
    position: absolute;
    top:40%;
    left: 10%;
}
.image{
    margin-top: 10vh;
   width:100%;
}
/*---------------------------------------ABOUT ME--------------------------------------------------------------------------*/

/*-----------------------------------------SKILLS--------------------------------------------------------------------------*/
.skills h2{
    color:white;
    text-align: center;
    text-shadow: 0 0 2px white, 0 0 1px #110543;
}
.skills .progress{
    box-shadow:0 0 15px #3282b8;
    position: relative;
    border:2px solid white;
    height:25px;
    position: relative;
}
/*-----------------------------------------SKILLS--------------------------------------------------------------------------*/

/*-----------------------------------------CONTACT--------------------------------------------------------------------------*/
.contact-heading{
    text-align: center;
    color:#fffffd;
    text-shadow: 0 0 2px white, 0 0 1px #110543;
}
.form{
    text-align:center;
}
.form-box {
    color:#bbe1fa;
    box-shadow: 0 0 10px #3282b8;
    background-color: #000101;
    font-size: 25px;
    margin: 20px auto;
    width: 65%;
    height: 50px;
    display: block;
  }
  #submit-button{
      font-size: 22px;
      padding: 10px 50px;
      border-radius: 5px;
      box-shadow: 0 0 5px 3px #3282b8;
      background-color: #000101;
      color:#bbe1fa;
  }
  .social{
      width:100%;
      display: inline-block;
      text-align:center;
  }
  .social-tab{
      box-sizing: content-box;
      padding:2px;
      margin:10px;
      text-shadow: 0 0 5px #3282b8;
      border-radius: 3px 10px;
  }
  .social-tab:hover{
    animation-name: groww;
    animation-duration:2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    text-shadow: 0 0 7px #3282b8;
  }
  .instagram-tab{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  .facebook-tab{
      background: #5274bc;
  }
  .linkdin-tab{
      background: #0e76a8;
      
  }
/*-----------------------------------------CONTACT--------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .hero-text{
        top:10%;
    }


    .container{
        display: block;
    }
    .text-part{
        height:500px;
        text-align: start;
    }
    .text{
        top:10%;
    }
    .image-part{
        width:100%;
        height:auto;     
    }
    .image{
        margin-top: 0;
       width:100%;
    }

}

@keyframes groww{
    0%{
        color:white;
    }
    100%{
        color:#110543;
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}