* {
  margin:0;
  padding:0;
}
body {
  font-family: 'Raleway';
}

.topnav {
  width:100%;
  overflow:hidden;
  background-color: #092532;
  margin:-8px;
  border-bottom:3px solid #c7e2b2;
  margin-bottom: 0px;
}

.active-navbar{
  background-color:#3b6978;
  color:#4ae85a;
}

.topnav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
.topnav li {
  width:100%;
  display:inline;
  padding: 20px 20px;
}
.topnav a{
  width:100%;
  text-align: center;
  display:block;
  color:#e1ffc2;
  font-size: 20px;
  text-decoration: none;
  transition: font 0.3s ease;
}
.topnav a:hover{
  text-decoration:none;
  background-color:#031721;
  color:#01a9b4;
}
.topnav li:hover{
  background-color:#031721;
  color:#092532;
}

.transparent-opacity {
  opacity:0.5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  background-color:#e1ffc2;
  text-align: center;
  margin:auto;
  margin-left: 2px;
  padding:30px 10px;
  padding-bottom: 30px;
}
@keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn {
animation: fadeIn ease 1s;
}

.image{
  overflow:hidden;
}

.first-block {
  margin-top: 5px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15px;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width:720px){
  .topnav a{
    font-size: 10px;
  }
  .topnav li {
    padding: 10px 10px;
  }
}

.parallax-1{
   background-image: url("images/bg1.jpg");
   background-size: cover;
   height:500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.second-block{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15px;
  height:500px;
}

.skill-tabs{
  padding:5px;
  border-top: 2px solid #092532;
  border-left: 2px solid #092532;
}
