* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
img{
  max-width: 100%;
}
.navbar {
  height: 3.75rem;
  width: 100%;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: background-color 1s ease 0s;
  position: fixed;
  z-index: 100;
}
.navbar.solid {
  background-color: black;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid li a {
  transition: color 0.2s ease-in-out;
  color: white;
}
.navbar.solid li a:hover {
  color: #04c2c9;
}
.brand {
  height: 3.125rem;
  margin: 7px;
  float: left;
}
.navbar ul {
  list-style-type: none;
  overflow: hidden;
}
.navbar li {
  font-size: 1.2rem;
  box-sizing: border-box;
  margin: 1.34375rem;
  float: right;
}
li a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 14px;
  color: #fff;
  transition: color 0.2s ease-in-out;
}
li a:visited {
  text-decoration: none;
}
li a:active {
  text-decoration: none;
}
li a:hover {
  color: #04c2c9;
}
li a:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 0%; /* Change this to whatever width you want to have before hover. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #04c2c9; /* This creates the border. Replace black with whatever color you want. */
  transition: 0.2s; /* This establishes the amount of time in seconds the animation should take from start */
}

li a:hover:after {
  width: 100%; /* This will be the new width of your border when on hover */
}
.hamburger {
  height: 1.5rem;
  display: none;
}
.cross {
  height: 1.5rem;
  margin: 1rem;
  float: right;
  display: none;
}

.hidden {
  height: 0;
}
/* -----------------------HOME--------------------------------- */
.colorcircle {
  height: 30vh;
  opacity: 0.80;
  display: none;
}
.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(1, 1, 3);
  background: linear-gradient(
    150deg,
    rgba(1, 1, 3, 1) 0%,
    rgba(61, 55, 55, 1) 100%
  );
  height: 100vh;
  position: relative;
}
.jumbotext {
  margin: 3rem;
  line-height: 36pt;
  font-size: 2.6rem;
  width: fit-content;
  color: #fff;
  text-align: center;
}
.highlight {
  color: #e31b6d;
}
.circle {
  position: absolute;
  opacity: 0.6;
}
.circle1 {
  width: 60vw;
  height: auto;
  left: -30%;
  top: -60%;
}
.circle2 {
  height: 700px;
  left: 75%;
  top: 15%;
}
.aboutbtn {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  background: transparent;
  color: white;
  padding: 16px 40px;
  border: none;
  border: 2px solid #04c2c9;
  transition: box-shadow 0.2s ease-in-out;
}
.aboutbtn:hover {
  box-shadow: 0 0 10px #04c2c9;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
/* -----------------------HOME--------------------------------- */

/* -----------------------ABOUT--------------------------------- */
.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}
.blueHighlight {
  color: #04c2c9;
}
.aboutText {
  margin: 25px;
  width:65%;
}
.aboutText > p{
  font-size: 2.5rem;
}
.aboutImage img {
  border-radius: 50%;
}
img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
/* -----------------------ABOUT--------------------------------- */

/* -----------------------SKILLS--------------------------------- */
.skillsection {
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgb(1, 1, 3);
  background: linear-gradient(
    150deg,
    rgba(1, 1, 3, 1) 0%,
    rgba(61, 55, 55, 1) 100%
  );
}
.skillheading {
  display: inline-block;
  text-align: center;
  font-size: 2.5rem;
  position: relative;
  top: 10%;
  border-bottom: 2px solid #04c2c9;
}
.skills {
  margin: 0 auto;
  top: 15%;
  position: relative;
  width: 90%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "html css javascript bootstrap tailwind"
    "reactjs nodejs express php sql"
    "mongodb java python arduino raspberrypi";
}
.html {
  grid-area: html;
}
.css {
  grid-area: css;
}
.javascript {
  grid-area: javascript;
}
.bootstrap {
  grid-area: bootstrap;
}
.tailwind {
  grid-area: tailwind;
}
.reactjs {
  grid-area: reactjs;
}
.nodejs {
  grid-area: nodejs;
  max-width: 100%;
}
.express {
  grid-area: express;
}
.php {
  grid-area: php;
}
.sql {
  grid-area: sql;
}
.mongodb {
  grid-area: mongodb;
}
.java {
  grid-area: java;
}
.python {
  grid-area: python;
}
.arduino {
  grid-area: arduino;
}
.raspberrypi {
  grid-area: raspberrypi;
}
.skill {
  height: 6rem;
}
/* -----------------------SKILLS--------------------------------- */

/* -----------------------CERTIFICATIONS--------------------------------- */

.certifications {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  transition: height 0.5s ease-in-out;
}
.certificatesHeading {
  display: inline-block;
  position: relative;
  top: 10%;
  font-size: 2.5rem;
  border-bottom: 2px solid #04c2c9;
}
.certificates {
  margin: 0 auto;
  position: relative;
  top: 15%;
  width: 90%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "cfront crfront dcs"
    "internshala hps hjava";
}
.cfront {
  grid-area: cfront;
}
.crfront {
  grid-area: crfront;
}
.dcs {
  grid-area: dcs;
}
.internshala {
  grid-area: internshala;
}
.hps {
  grid-area: hps;
}
.hjava {
  grid-area: hjava;
}
.certiexpbutton{
  font-size:1.1rem;
  margin:1.5rem;
  padding: 16px 40px;
  border: none;
  border:2px solid #04c2c9;
  display: none;
}
.certiminbutton{
  font-size:1.1rem;
  margin:1.5rem;
  padding: 16px 40px;
  border: none;
  border:2px solid #04c2c9;
  display: none;
}

/* -----------------------CERTIFICATIONS--------------------------------- */

/* -----------------------CONTACT--------------------------------- */
.contact{
  height:85vh;
  width:100%;
  overflow: hidden;
  text-align: center;
  background: rgb(1, 1, 3);
  background: linear-gradient(
    150deg,
    rgba(1, 1, 3, 1) 0%,
    rgba(61, 55, 55, 1) 100%
  );
}
.contactheading{
  display: inline-block;
  position: relative;
  top: 10%;
  font-size: 2.5rem;
  border-bottom: 2px solid #04c2c9;
}
.formpart{
  margin: 0 auto;
  position: relative;
  top:15%;
  width:60%;
}
.inputGroup{
  margin:15px;
}
.inputGroup input,textarea{
  max-width: 100%;
  font-family:"Raleway", sans-serif;
  font-size:2.2rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #d2d2d2;
  transition: border 0.1s ease-in-out;
  color: #04c2c9;
}
.inputGroup input:hover,textarea:hover{
  border-bottom: 2px solid #04c2c9;
}
.inputGroup input:focus,textarea:focus{
  border-bottom: 2px solid #04c2c9;
}
.submitbtn{
  margin:15px;
  background: transparent;
  font-size:1.5rem;
  padding: 16px 40px;
  border: none;
  border:2px solid #04c2c9;
  color:#f2f2f2;
  transition: box-shadow 0.2s ease-in-out;
}
.submitbtn:hover{
box-shadow: 0 0 10px 5px #04c2c9;
}
/* -----------------------CONTACT--------------------------------- */

/* -----------------------FOOTER--------------------------------- */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#f2f2f2;
  background-color: rgba(1, 1, 3, 0.5);
  width:100%;
  height: 15vh;
}
footer > p{
  font-size:1.2rem;
  display: inline-block;
  margin:0 50px;
}
/* -----------------------FOOTER--------------------------------- */

/* ------------------------MEDIA QUERY------------------------ */
@media screen and (max-width: 860px) {
  .colorcircle {
    display: block;
  }
  .hamburger {
    display: block;
    margin: 1rem;
    float: right;
  }
  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  li a {
    display: block;
    float: none;
  }
  .jumbotext {
    font-size: 1.5rem;
    line-height: 22pt;
  }
  .aboutbtn {
    font-size: 1.2rem;
    position: static;
    border: 2px solid #04c2c9;
  }
  .circle {
    display: none;
  }
  span::before,
  span::after,
  button::before,
  button::after {
    transition: none;
    background: none;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutText > p{
    text-align: center;
    font-size: 1.4rem;
  }
  img.grayscale {
    filter: none;
  }
  .aboutImage img {
    height: 35vh;
  }
  .skillheading {
    font-size: 2rem;
  }
  .skills {
    top: 12%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    gap: 0.5rem;
    grid-template-areas:
      "html css"
      "javascript reactjs"
      "nodejs express"
      "php raspberrypi"
      "mongodb java"
      "python arduino";
  }
  .skill {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: auto;
    width: auto;
  }
  .certifications{
    height: 120vh;
  }
  .internshala{
    display: none;
  }
  .hps{
    display: none;
  }
  .hjava{
    display: none;
  }
  .certificatesHeading{
    font-size: 2rem;
    top:7%;
  }
  .certificates{
    top:12%;
    display:flex;
    flex-direction: column;
  }
  .certiexpbutton{
    display:block;
  }
  .inputGroup input,textarea{
    font-size: 1.5rem;
  }
  .submitbtn{
    font-size: 1.3rem;
  }
  footer p{
    font-size:0.75rem;
  }
}
/* ------------------------MEDIA QUERY------------------------ */
